{% extends "account/email/base_message.txt" %}
{% load i18n %}

{% block content %}{% autoescape off %}{% blocktrans %}

<div style='
        padding: 1vw;
        text-align: center;
        background-color: #ff0000;
        color: white;
        margin-top: 2vw;
        margin-left: 14vw;
        margin-right: 14vw;'>
  <h2>La Patisserie Du Coeur</h2>
</div>
<div style="    


        margin-left: 14vw;
        margin-right: 14vw;
        margin-top: .2vw;
        background-color: #f4f4f4;
        padding-top: 2vw;
        padding-bottom: 4vw;
        padding-left: 3vw;
        padding-right: 3vw;">
<div  style="  margin-left: 2vw;">Dear {{ user_display }},</div>
<div style="  margin-top: 2vw;
        margin-left: 2vw;"></div>
<div style="  margin-top: 2vw;
        margin-left: 4vw;">We received your password reset request. To reset your password, click: 
        <a href='https://lacoeurbakery.xyz/password_reset_confirm/{{ token }}'>Link to Password Reset Page</a></div>
        <div style=" margin-top: 2vw;
        margin-left: 4vw;">If you didn't request this, ignore it. Your account is secure.
</div>
<div style=' margin-top: 2vw;
        margin-left: 4vw;'>For help, contact support. Thank you for choosing La Patisserie Du Coeur!w</div>

<div style=' margin-top: 2vw;
        margin-left: 4vw;'>Warm regards,</div>
<div style=' margin-top: 2vw;
        margin-left: 4vw;'> {{ user_display }}
La Patisserie Du Coeur Team</div>


<br>
</div>{% endblocktrans %}{% endif %}{% endautoescape %}{% endblock %}