<div style='
        padding: 1vw;
        text-align: center;
        background-color: #ff0000;
        color: white;
        margin-top: 2vw;
        margin-left: 14vw;
        margin-right: 14vw;'>
  <h2>La Patisserie Du Coeur</h2>
</div>
<div style="    


        margin-left: 14vw;
        margin-right: 14vw;
        margin-top: .2vw;
        background-color: #f4f4f4;
        padding-top: 2vw;
        padding-bottom: 4vw;
        padding-left: 3vw;
        padding-right: 3vw;">


  <h2>Dear {{ name }},</h2>
  <div style="  margin-left: 2vw;"> <span>Thank you for your recent order from La Patisserie Du Coeur.</span>
    <span><br>Unfortunately your payment has failed, the reason is unknown however a transaction has not been processed.</span>
  </div>


  </div>
  <div style="  margin-top: 2vw;
        margin-left: 2vw;"> If you suspect that a transaction has went through, please contact us at our website or contact stripe.</div>
  <div style='  margin-left: 2vw;'>
    <p>Sincerely,</p>
  </div>

  <div style='  margin-left: 4vw;'>
    <p>The La Patisserie Du Coeur Team</p>

    
    <div style='margin-top:1vw;'>Desole beaucoup!</div>
  </div>

</div>