@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
}


.offscreen {
  position: absolute;
  left: -10000px;
}

.unrevealed{
opacity: 0;
transition: all 1s;

}
.revealed{
opacity: 1;
}
.hiring-color{
  background: linear-gradient(180deg, #fde047 66%, #fb3131 34%);
}